body {
        font-family: 'Open Sans', serif;
        font-size: 100%
    }
    
    .contentWrapper {
        width: 100%;
        margin: auto;
        font-size: 22px;
        font-weight: 200
    }
    
    h1 {
        font-size: 60px;
        font-weight: 300
    }
    
    .area {
        position: relative;
        background: #f8f8f8;
        background: -webkit-linear-gradient(#f0f0f0, #f8f8f8);
        background: -moz-linear-gradient(#f0f0f0, #f8f8f8);
        background: -ms-linear-gradient(#f0f0f0, #f8f8f8);
        width: 100%;
        height: 360px
    }
    
    .circularBar {
        position: absolute;
        width: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        min-height: 5px;
        background: #000;
        -webkit-transition: .1s ease all;
        border-bottom: 3px solid #0f0
    }
    
    .curveBar {
        position: absolute;
        width: 10px;
        height: 5px;
        background: #000;
        border-radius: 5px;
        min-height: 5px;
        border-bottom: 3px solid #0f0;
        border-top: 3px solid red;
        -webkit-transition: .1s ease all
    }
    
    #circularCenter {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 74px;
        height: 74px;
        border-radius: 100%;
        background: red
    }
    
    .circle {
        border-radius: 100%;
        background: rgba(0, 0, 0, .1);
        box-shadow: 0 0 2px 2px #0f0;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        -webkit-transition: .1s ease all
    }
    
    .bar {
        position: absolute;
        bottom: 0;
        /*box-shadow: 0px -2px 0 #808080;*/
        background: orangered;
        border: 1px solid #eee;
        margin-left: 2px;
        -webkit-transition: .1s ease all
    }
    
    .dot {
        position: absolute;
        bottom: 0;
        background: #000;
        box-shadow: 0 0 1px 1px #0f0;
        -webkit-transition: .1s ease all;
        height: 5px
    }
    
    .symbar_left {
        position: absolute;
        right: 180px;
        background: #000;
        -webkit-transition: .1s ease all;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        border-left: 5px solid #0f0
    }
    
    .symbar_right {
        position: absolute;
        left: 180px;
        background: #000;
        -webkit-transition: .1s ease all;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        border-right: 3px solid red
    }
    
    .initiator {
        position: absolute;
        width: 100%;
        height: 360px;
        background: rgba(0, 0, 0, .5);
        -webkit-transition: .5s ease all;
        z-index: 10000;
        cursor: pointer
    }
    
    .experiment {
        width: 100%;
        position: relative;
        float: left;
        margin-left: 20px
    }